{% extends 'paginas_base/base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Página Editar Cliente {% endblock titulo %}
{% block contenido %}
<div class="card">
    <div class="card-header">Crear Nuevo Cliente</div>
        <div class="card-body">
            <h4 class="card-title">Nuevo Cliente</h4>
            <form action="" method="post"  enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {% comment %} {{ form|crispy}} {% endcomment %}
                {{form.nom|as_crispy_field}} <br>
                {{form.ap|as_crispy_field}} <br>
                {{form.am|as_crispy_field}} <br>

                {% if form.foto.value %}
                <img src="{{MEDIA_URL}}/imagenes/{{formulario.foto.value}}" alt="" width="80">
                {% endif %}
                {{form.foto|as_crispy_field}}
                <br>
                {{form.lenguaje|as_crispy_field}}
                <br>
                {{form.so|as_crispy_field}}
                <br>
                {{form.area|as_crispy_field}}
                <br>
                <input name="btn-guardar" id="btn_guardar" class="btn btn-success" type="submit" value="Guardar">
                <a name="btnCancelar" id="btnCancelar" class="btn btn-primary" href="{% url 'clientes_app:lista' %}" role="button">Cancelar</a>
            </form>      
        </div>
    </div>
</div>
{% endblock contenido %}