{% extends 'paginas_base/base.html' %}

{% block titulo %}Página Lista de Clientes {% endblock titulo %}
{% block contenido %}
    <div class="card">
        <div class="card-header">
            <a name="btnuevo" id="btnuevo" class="btn btn-primary" href="{% url 'clientes_app:crear' %}" role="button">Agregar Cliente</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Clientes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>                       
                        <th>Lenguaje</th>
                        <th>Sistema Operativo</th>
                        <th>Area</th>
                        <th>Foto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for cl in clientes %}
                    <tr>
                        <td>{{ cl.id }}</td>
                        <td>{{ cl.nom }}</td>
                        <td>{{ cl.ap }}</td>
                        <td>{{ cl.am }}</td>
                        <td>{{ cl.lenguaje }}</td>
                        <td>{{ cl.so }}</td>
                        <td>{{ cl.area }}</td>
                        <td>
                            <img src="{{ cl.foto.url }}" height="60">
                        </td>
                        <td>
                            <a name="bteditar" id="bteditar" class="btn btn-info" href="#" role="button">Editar</a>
                            <a name="bteliminar" id="bteliminar" class="btn btn-danger" href="#" role="button">Eliminar</a>
                        </td>                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            
            
        </div>
        <div class="card-footer text-muted">
        
        </div>
    </div>
   
   

{% endblock contenido %}